@font-face {
  font-family: 'Oswald Variable';
  font-weight: 45 900;
  font-style: normal;
  font-display: swap;
  src:
    local('Oswald Variable'),
    url('/static/font/OswaldVariable.woff2') format('woff2-variations');
}
