@use 'sass:math';

// 단위 제거 함수
@function delUnit($value) {
  $value: (math.div($value,($value * 0 + 1)));
  @return $value;
}

@function px-to-other-unit-calculator($unit-px, $width, $unit) {
  $tmp-x: null;
  @if ($unit-px == 0) {
    $tmp-x: $unit-px;
  } @else if ($unit-px == auto) {
    $tmp-x: auto;
  } @else {
    //$tmp-x: ((delUnit($unit-px) / (delUnit($width))) * 100) + $unit;
    $tmp-x: (math.div(delUnit($unit-px) , (delUnit($width))) * 100) + $unit;
  }

  @return $tmp-x;
}

@function spx-to-px($value) {
  $value: delUnit($value);
  @return $value + px;
}

@function calc-vw($value-px, $psd-width) {

  @if type-of($value-px) == string {
    @return $value-px;
  }

  $psd-width: delUnit($psd-width);

  // 단위 변환
  @if $value-px != null {
    $changed-unit: null !default;
    $viewport-width: null !default;
    $use-unit-type: null !default;

    //  PSD 가로폭 정의, 사용 단위 선택
    @if (length($value-px) == 1) {
      // 기본값 vw
      $use-unit-type: vw;
      $viewport-width: $psd-width;
      // 단위 변환
      $changed-unit: px-to-other-unit-calculator(
        $value-px,
        $psd-width,
        $use-unit-type
      );
    } @else if (length($value-px) > 1) {
      $tmp-px: nth($value-px, 1);
      $tmp-parm: nth($value-px, 2);

      @if (type-of($tmp-parm) == string and $tmp-parm != auto) {
        // single 단위 변환
        $use-unit-type: $tmp-parm;
        $viewport-width: $psd-width;
        $changed-unit: px-to-other-unit-calculator(
          $tmp-px,
          $viewport-width,
          $use-unit-type
        );
      } @else if
        (
          type-of($tmp-parm) ==
            number or
            ((length($value-px) >1) and $tmp-parm == auto)
        )
      {
        // multiple 단위 변환
        $use-unit-type: vw;
        $viewport-width: $psd-width;

        @each $i in $value-px {
          $changed-unit: append(
            $changed-unit,
            px-to-other-unit-calculator($i, $viewport-width, $use-unit-type)
          );
        }
      }
    }

    @return $changed-unit;
  } @else {
    @return null;
  }
}

//replace function
@function str-replace($string, $search, $replace: '') {
  $changeStr: quote($string);

  $index: str-index($changeStr, $search);
  @if $index {
    @return str-slice($changeStr, 1, $index - 1) + $replace +
      str-replace(
        str-slice($changeStr, $index + str-length($search)),
        $search,
        $replace
      );
  }

  @return unquote($changeStr);
}

@function calc-vw-desktop($value-px) {
  @if (is-spx($value-px) ==false) {
    @return calc-vw($value-px, $psd-desktop-width);
  } @else {
    @return spx-to-px($value-px);
  }
}

@function calc-vw-tablet($value-px) {
  @if (is-spx($value-px) ==false) {
    @return calc-vw($value-px, $psd-tablet-width);
  } @else {
    @return spx-to-px($value-px);
  }
}

@function calc-vw-mobile($value-px) {
  @if (is-spx($value-px) ==false) {
    @return calc-vw($value-px, $psd-mobile-width);
  } @else {
    @return spx-to-px($value-px);
  }
}
