@import './easing';
@import './mediaqueries';
@import './typecheck';
@import './calc';
@import './mq';

@mixin css-no-select {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.css-no-select {
  @include css-no-select;
}

@mixin backdrop-Blur {
  backdrop-filter: blur(10px);
}
