<!-- include:include.head.ejs -->

<main>

    <figure>
        <canvas id="canvas-pattern-2" width="1200" height="1200"  style="width:600px; height: 600px;"></canvas>
        <figcaption>Pattern 2</figcaption>
    </figure>

    <figure>
        <canvas id="canvas-pattern" width="1200" height="1200"  style="width:600px; height: 600px;"></canvas>
        <figcaption>Pattern</figcaption>
    </figure>

    <figure>
        <canvas id="canvas-2d-matrix" width="1200" height="1200"  style="width:600px; height: 600px;"></canvas>
        <figcaption>Matrix</figcaption>
    </figure>
    <figure>
        <canvas id="canvas-circle-3" width="1200" height="1200"  style="width:600px; height: 600px;"></canvas>
        <figcaption>Circle-2</figcaption>
    </figure>
    <figure>
        <canvas id="canvas-circle-2" width="1200" height="1200"  style="width:600px; height: 600px;"></canvas>
        <figcaption>Circle-2</figcaption>
    </figure>
    <figure>
        <canvas id="canvas-circle" width="1200" height="1200"  style="width:600px; height: 600px;"></canvas>
        <figcaption>Circle</figcaption>
    </figure>
    <figure>
        <canvas id="canvas-rect" width="1200" height="1200"  style="width:600px; height: 600px;"></canvas>
        <figcaption>Rect</figcaption>
    </figure>
    <figure>
        <canvas id="canvas-1" width="1200" height="1200"  style="width:600px; height: 600px;"></canvas>
        <figcaption>Fn</figcaption>
    </figure>
</main>

<!-- include:include.tail.ejs -->