<!-- include:include.head.ejs -->

<main>
    <figure>
        <canvas id="canvas-1" width="1200" height="1200"  style="width:600px; height: 600px;"></canvas>
    </figure>
</main>

<!-- include:include.tail.ejs -->