<!-- include:include.head.ejs -->

<main>
    <figure>
        <canvas id="canvas-circle" width="1200" height="1200"  style="width:600px; height: 600px;"></canvas>
        <figcaption>Circle</figcaption>
    </figure>
    <figure>
        <canvas id="canvas-rect" width="1200" height="1200"  style="width:600px; height: 600px;"></canvas>
        <figcaption>Rect</figcaption>
    </figure>
    <figure>
        <canvas id="canvas-1" width="1200" height="1200"  style="width:600px; height: 600px;"></canvas>
        <figcaption>Fn</figcaption>
    </figure>
</main>

<!-- include:include.tail.ejs -->